今年の運勢は

<%= @color %>
<% case @color %>
<% when "yellow"  %>
<diV class="box1">
    <div class="tora1"></div>
<p>イエロータイガーです。</p>
</diV>

<% when "orange"  %>
<diV class="box1">
    <div class="tora2"></div>
<p>オレンジタイガーです。</p>
</diV>
<% when "red"  %>
<diV class="box1">
    <div class="tora3"></div>
<p>レッドタイガーです。</p>
</diV>

<% when "green"  %>
<diV class="box1">
    <div class="tora4"></div>
<p>グリーンタイガーです。</p>
</diV>
<% when "brown"  %>
<diV class="box1">
    <div class="tora5"></div>
<p>ブラウンタイガーです。</p>
</diV>
<% when "white"  %>
<diV class="box1">
    <div class="tora6"></div>
<p>ホワイトタイガーです。</p>
</diV>
<% when "black"  %>
<diV class="box1">
    <div class="tora7"></div>
<p>ブラックタイガーです。</p>
</diV>

<% end %>


<form name="myForm" class="myForm1">
<textarea type="text" cols="20" rows="3" name="myFormMes" class="myForm3"></textarea>
</form>

<p class="geme">
   <%= link_to "tabemono ", turn_path %>
</p>