// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

.wrap {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
    list-style-type: none;
    width: 25%;
    color: white;
    display: block;
    padding: 50px;
    text-align: center;
    background: red;
    border: 3px solid yellow;
    border-right: none;
}


#tab-contents {
  display: flex;
 
}

#tab-contents .tab {
  display: none;
  width: 50%;
  padding: 10px;
  background: rgba(255,0,0, 0.4);
}

#tab-contents span {
  color: black;
 
}
.btn-success {
  justify-content: center; 
 padding: 10px;
  height: 100px;
  width: 40%;
  margin: 10px 200px;
}

.box2 {
  height: 500px;
  width: auto;
}



.tora1 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}
.tora1-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora1.png);
}

.tora2 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}
.tora2-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora2.png);
}

.tora3 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}
.tora3-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora3.png);
}

.tora4 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}
.tora4-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora4.png);
}

.tora5 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}
.tora5-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora5.png);
}

.tora6 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora1.png);
}
.tora6-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}

.tora7 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}
.tora7-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora7.png);
}



.myForm1 {
 background: black;
 height: 70px;
 width: 180px;
 margin: 0 auto;

}

.myForm2 {
 display: none;
}
.myForm3 {
 padding: 10px;
}


.result {
  width: 200px;
  height: 400px;
}

.act {

  font-size: 30px;

}



