// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

.wrap {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  display: none;
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

#demo-01 {
  display: none;
  background: red;
  width: 100px;
  height: 100px;
}
#demo-02 {
  background: green;
  width: 100px;
  height: 100px;
}

.box2 {
  height: 500px;
  width: auto;
}

.box1 {
  height: 500px;
  width: auto;
  
}

.tora1 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}
.tora1-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora1.png);
}

.tora2 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}
.tora2-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora2.png);
}

.tora3 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}
.tora3-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora3.png);
}

.tora4 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}
.tora4-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora4.png);
}

.tora5 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}
.tora5-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora5.png);
}

.tora6 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora1.png);
}
.tora6-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}

.tora7 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora6.png);
}
.tora7-a {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(tora7.png);
}

.document {
  font-size: 30px;
  display: none;
}


